/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/autocomplete
 *= require select2
 *= require featherlight
 */

$link-color : darkslateblue;
$hover-color: deepskyblue;

.content {
  margin-bottom: 5rem;
}

body {
  color: #333333;
}

nav {
  ul.nav a {
    color: #333333;
    &:hover {
      color: $link-color;
    }
    transition: background-color 0.5s ease;
  }
  .navbar-brand {
    color: #333333;
    &:hover {
      color: $hover-color;
    }
    transition: color 0.5s ease;
  }
}

a {
  color: $link-color;
  &:hover {
    color: $hover-color;
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
  transition: color 0.5s ease;
}
