/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/autocomplete
 *= require select2
 *= require featherlight
 */

@font-face {
  font-family: "Neutra Display";
  src: url(NeutraDisplay-LightAlt.otf);
}


.content {
  margin-bottom: 5rem;
}

body {
  color: var(--text-color);
  background-color: var(--background-color)
}

nav {
  ul.nav a {
    color: var(--text-color);
    &:hover {
      color: var(--link-color);
    }
    transition: background-color 0.5s ease;
  }
  .navbar-brand {
    color: var(--text-color);
    &:hover {
      color: var(--hover-color);
    }
    transition: color 0.5s ease;
  }

  button.navbar-toggle {
    border: thin solid var(--border-color);
    &:hover {
      background-color: var(--hover-background-color);
    }
    transition: background-color 0.5s ease;


    .icon-bar {
      border-top: 2px solid var(--border-color);
    }
  }

  .navbar-nav, .navbar-nav .open {

    a {
      &:hover {
        background-color: var(--hover-background-color);
      }
      &:focus {
        background-color: var(--hover-background-color);
      }

      transition: background-color 0.5s ease;
    }
  }

}

.nav-search {
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


a {
  color: var(--link-color);
  &:hover {
    color: var(--hover-color);
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
  transition: color 0.5s ease;
}

pre {
  word-break: break-word;
}

nav ul.dropdown-menu {
  background-color: var(--background-color);
}

input, textarea {
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 3px;
  border: 1px solid var(--border-color);

  margin-top: 5px;
  padding: 6px 12px;

}

input.form-control, textarea.form-control, .select2 {
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: 6px 12px;
}

select {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  margin: 1rem;
  padding: 6px 12px;
  border-radius: 3px;
}

.webring {
  margin-top: 5rem;
  h6 {
    text-align: center;
  }
}
#webring-container {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
  justify-content: center;

  #webring-left {
    flex: 10;
    text-align: end;
  }
  #webring-right {
    flex: 10;
  }

  .webring-center {
    flex: 1;
    text-align: center;
  }
}
