// Place all the styles related to the days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.static_pages {
  @media (prefers-color-scheme: dark) {
    //background-color: black;
  }
}

.day {
  margin: 0 auto;
  .day-photo-container {
    margin: 0 auto;
    width: 100%;
    .day-photo {
      max-height: 75rem;
      max-width: 100%;
      margin: 0 auto;
      display: block;
      border-radius: 2px;
    }
  }
  .day-body {
    font-family: 'Gentium Book Basic', Georgia, serif;
    font-size: 1.7rem;
    max-width: 70rem;
    margin: 1.5rem auto 0 auto;
    .lyrics {
      padding-top: 2rem;
      font-family: sans-serif;
      font-style: italic;
      font-weight: lighter;
      font-size: 1rem;
    }
    img {
      max-width: 100%;
    }
  }

  @media(min-width: 600px) {
    .day-title {
      padding: 0 15%;
    }
  }

  .day-title {
    color: #333333;
    transition: color 0.5s ease;
    display: inline-block;

    &:hover {
      color: deepskyblue;
    }
  }

  a {
    color: mediumslateblue;
    transition: color 0.2s ease;
    &:hover {
      color: deepskyblue;
      text-decoration: none;
    }
  }

  .day-data {
    border-top: thin solid darkblue;
    margin: 2rem auto;
    max-width: 70rem;
    .align-center {
      display: flex;
      align-items: center;
      .timestamp {
        margin: 1rem 1rem 1rem 0;
        display: inline-block;
      }
      .fav-container {
        display: inline-block;
      }

    }
  }

  iframe.youtube {
    width: 100%;
    height: 500px;
    display: block;
    margin: 2rem 0;
  }

  #comments {
    max-width: 800px;
    margin: 0 auto;
    .comment {
      border: thin solid darkblue;
      padding: 1rem;
      margin-bottom: 2px;

      img.gravatar {
        max-width: 10%;
        height: auto;
        display: inline-block;
        margin-right: 1rem;
        border-radius: 3px;
        vertical-align: top;
      }

      .comment-content {
        padding: 1rem;
      }

      .comment-text {
        width: 85%;
        display: inline-block;

        .author {
          font-weight: bold;
          display: inline-block;
        }

        .timestamp {
          display: inline-block;
          color: grey;
          margin-left: 1rem;
        }

        .body {
          //display: block;
        }
      }
      .child-comments {
        //margin-left: 2rem;
      }
    }
  }

}

#comment-form-template {
  display: none;
}

.day-form-container {
  display: flex;

  .dz-upload {
    display: block;
    background-color: midnightblue;
    height: 10px;
    width: 0%;
  }

  .day-form-main {
    max-width: 80rem;
    #photo-container {
      img {
        max-width: 100%;
      }
    }
    a#sidebar-button {
      float: right;
      font-size: 2rem;
    }

    #day-form {
    }
    width: 70%;
    display: block;
    margin: 0 auto;

    input {
      &:focus {
        outline: thin solid darkblue;
      }
      color: #333333;
    }
    textarea {
      color: #333333;
    }

    .day-title {
      font-size: 4rem;
      color: darkgray;
    }
    #day_title {
      border: none;
      font-size: 4rem;
      width: 20rem;
      margin-right: 1rem;
    }
    .save-state {
      color: white;
      &.saved {
        color: darkgray;
      }
      &.error {
        color: crimson;
      }
      transition: color 0.5s ease;
    }

    #day_body {
      display: block;
      width: 100%;
      margin: 2rem auto;
      height: 60rem;
      border: none;
      resize: none;
      &:focus {
        outline: 0;
      }
      font-size: 1.5rem;
    }
    #day_photo {
    }

    #day_mouseover {
      display:block;
      width: 100%;
    }
    #day_whisper {
      width: 100%;
    }

    textarea {
      width: 100%;
    }
    .day-meta-data label {
      display: block;
      font-weight: normal;
      color: gray;
      font-size: 12px;
      margin: 0;
    }


    .good-night {
      color: lightgrey;
      border: none;
      background: none;
      border-radius: 4px;
      font-size: 2rem;
      display: block;
      margin: 1rem auto;

      transition: color 0.5s ease;

      &:hover {
        color: darkblue
      }
      &:focus {
        outline: 0;
        color: lighten(darkslateblue, 10);
      }
    }

    a.day-data-container-toggle {
      color: lightgrey;
      transition: color 0.5s ease;
      text-decoration: none;
      font-size: 3rem;
      &:hover {
        text-decoration: none;
        color: darkslateblue;
      }
      display: block;
      text-align: center;
    }

    .day-data-container {
      transition: opacity 0.5s ease-in-out;
      opacity: 1;
      &.glass {
        opacity: 0;
      }
    }
    .tag-select {
      width: 100%;
    }
  }
  .day-form-sidebar {
    flex-shrink: 1;
    display: none;
    margin-left: 1rem;
    &.active {
      display: block;
    }
    img {
      display: block;
      max-width: 300px;
    }
  }
}

.continue-container {
  a.sleep-well {
    color: lightgrey;
    font-size: 2rem;
    display: block;
    margin: 1rem auto;
    transition: color 0.5s ease;
    text-align: center;

    &:hover {
      color: darkblue;
      text-decoration: none;
    }
    &:focus {
      outline: 0;
    }

  }
}

.home-brella {
  font-size: 4rem;
  position: absolute;
  margin-top: 1.5rem;
  a {
    color: black;
    transition: color .2s ease;
    &:hover {
      color: darkslateblue;
      text-decoration: none;
    }
  }
}

.fisheye {
  font-size: 4rem;
  position: absolute;
  margin-top: 6rem;
  a {
    color: crimson;
    transition: color .2s ease;
    &:hover {
      color: darkslateblue;
      text-decoration: none;
    }
  }

}

.photo-placeholder {
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background: darkslateblue;
  content: '☂';
  color: lightgrey;
  font-size: 5rem;

  &:hover {
    text-decoration: none;
    color: deepskyblue;
  }
}

.photo-preview {
  vertical-align: top;
}

.comment-form {
  display: block;
  input {
    display: block;
    &:focus {
      outline: thin solid darkblue;
    }
  }
  textarea {
    width: 100%;
    &:focus {
      outline: thin solid darkblue;
    }
  }

  .human-verifier {
    display: inline-block;
  }
}

div.pagination {
  text-align: center;
  display: block;
}

div.susurrus {
  text-align: center;
  a {
    display: block;
  }
}

#on-this-day {
  h1 {
    text-align: center;
  }
  .date-picker {
    margin: 0 auto;
    text-align: center;
    input {
      text-align: center;
      display: inline;
      width: 20rem;
      &.submit {
        width: 5rem;
      }
    }
  }
}

.tags-index {
  h1 {
    text-align: center;
  }
  .tag-letter-box {
    margin: 0 auto;
  }
  .thanks {
    text-align: center;
    font-family: 'Gentium Book Basic', Georgia, serif;
    margin-bottom: 1rem;
  }
}

.your-song {

  .row {
    height: 90vh;
    .scrollable-col {
      height: 100%;
      overflow-y: scroll;
    }
    ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
    .canvas-column {
      padding: 0;
    }

    * {
      -ms-overflow-style: none !important;
    }
  }

  .canvas-container {
    width: 100%;
    margin: 0 auto;
    padding-right: 1rem;
    span.select2.select2-container.select2-container--default {
      width: 100%;

    }
  }
  canvas#sky {
    margin: 1rem auto;
    display: block;
    border: thin solid darkblue;
  }
}


.checkbox-label {
  margin-left: 0.5rem;
}

.media-summary {
 * {
    vertical-align: top;
  }
}

.media-icon {
  svg {
    height: 2rem;
    width: 2rem;
    fill: gray;
  }
  margin: 1rem;
  display: inline;
}

.favorite-toggle {
  font-size: 2rem;
  &.favorited {
    color: gold;
  }
}
