// Place all the styles related to the days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.day {
  max-width: 90rem;
  //width: 90%;
  margin: 0 auto;
  .day-photo-container {
    margin: 0 auto;
    width: 100%;
    .day-photo {
      max-height: 65rem;
      max-width: 100%;
      margin: 0 auto;
      display: block;
      border-radius: 2px;
    }
  }
  .day-body {
    margin-top: 2rem;
    font-family: serif;
    font-size: 1.7rem;
    max-width: 70rem;
    margin: 0 auto;
    //padding: 0 15%;
    .lyrics {
      padding-top: 2rem;
      font-family: sans-serif;
      font-style: italic;
      font-weight: lighter;
      font-size: 1rem;
    }
  }

  .day-title {
    color: black;
    transition: color 0.5s ease;
    display: inline-block;
    padding: 0 15%;

    &:hover {
      color: deepskyblue;
    }
  }

  a {
    color: mediumslateblue;
    transition: color 0.2s ease;
    &:hover {
      color: deepskyblue;
      text-decoration: none;
    }
  }

  .day-data {
    border-top: thin solid darkblue;
    margin: 2rem 15%;
    .timestamp {
      margin: 1rem 0;
    }
  }

  iframe.youtube {
    width: 100%;
    height: 500px;
    display: block;
    margin: 2rem 0;
  }

  .comments {
    padding: 0 15%;
    .comment {
      border: thin solid darkblue;
      padding: 1rem;
      margin-bottom: 2px;

      img.gravatar {
        max-width: 10%;
        height: auto;
        display: inline-block;
        margin-right: 1rem;
        border-radius: 3px;
        vertical-align: top;
      }

      .comment-content {
        padding: 1rem;
      }

      .comment-text {
        width: 85%;
        display: inline-block;
        margin-left: 1rem;

        .author {
          font-weight: bold;
          display: inline-block;
        }

        .timestamp {
          display: inline-block;
          color: grey;
          margin-left: 1rem;
        }

        .body {
          //display: block;
        }
      }
      .child-comments {
        //margin-left: 2rem;
      }
    }
  }
}

#day-form {
  width: 70%;
  display: block;
  margin: 0 auto;

  input {
    &:focus {
      outline: thin solid darkblue;
    }
  }

  .day-title {
    font-size: 4rem;
    color: darkgray;
  }
  #day_title {
    border: none;
    font-size: 4rem;
    width: 20rem;
    margin-right: 1rem;
  }

  #day_body {
    display: block;
    width: 100%;
    margin: 2rem auto;
    height: 60rem;
    border: none;
    resize: none;
    &:focus {
      outline: 0;
    }
    font-size: 1.5rem;
  }
  #day_photo {
  }

  #day_mouseover {
    display:block;
    width: 100%;
  }
  #day_whisper {
    width: 100%;
  }

  #day_categories {
    width: 50%;
  }
  #day_people {
    width: 50%;
  }

  .good-night {
    color: lightgrey;
    border: none;
    background: none;
    border-radius: 4px;
    font-size: 2rem;
    display: block;
    margin: 1rem auto;

    transition: color 0.5s ease;

    &:hover {
      color: darkblue
    }
    &:focus {
      outline: 0;
      color: lighten(darkslateblue, 10);
    }
  }

  a.day-data-container-toggle {
    color: lightgrey;
    transition: color 0.5s ease;
    text-decoration: none;
    font-size: 3rem;
    &:hover {
      text-decoration: none;
      color: darkslateblue;
    }
    display: block;
    text-align: center;
  }

  .day-data-container {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    &.glass {
      opacity: 0;
    }
  }
}

.continue-container {
  a.sleep-well {
    color: lightgrey;
    font-size: 2rem;
    display: block;
    margin: 1rem auto;
    transition: color 0.5s ease;
    text-align: center;

    &:hover {
      color: darkblue;
      text-decoration: none;
    }
    &:focus {
      outline: 0;
    }

  }
}

.home-brella {
  font-size: 4rem;
  position: absolute;
  margin-top: 1.5rem;
  a {
    color: black;
    transition: color .2s ease;
    &:hover {
      color: darkslateblue;
      text-decoration: none;
    }
  }
}

.photo-placeholder {
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background: darkslateblue;
  content: '☂';
  color: lightgrey;
  font-size: 5rem;

  &:hover {
    text-decoration: none;
    color: deepskyblue;
  }
}

.photo-preview {
  vertical-align: top;
}

.comment-form {
  display: block;
  input {
    display: block;
    &:focus {
      outline: thin solid darkblue;
    }
  }
  textarea {
    width: 100%;
    &:focus {
      outline: thin solid darkblue;
    }
  }
}

div.pagination {
  text-align: center;
  display: block;
}
