.links {
  .link-form {
    max-width: 600px;
    input {
      display: block;
      width: 100%;
    }
    textarea {
      display: block;
      width: 100%;
    }
  }

  .link {
    width: 400px;
    border: 1px solid var(--border-color);
    padding: 1rem;
    h3 {
      margin-top: 0;
    }
    margin: 1rem;
  }

  .links-container {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
  }

  .links-intro {
    max-width: 700px;
    margin: 0 auto;
  }
}
