// Place all the styles related to the media_works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.media_works {

  .badge-display {
    text-align: center;
    display: none;

    &.selected {
      display: inline;
      color: var(--badge-selected-color)
    }
  }

  .media-badge {
    color: var(--badge-unselected-color);

    &.selected {
      color: var(--badge-selected-color)
    }
  }

  svg {
    width: 2rem;
    height: 2rem;
  }


  label {
    margin-right: 1rem;
  }

  td {
    &:not(:first-child) {
      min-width: 80px;
    }

    &.text-center {
      padding: 0;
    }

    padding-right: 1rem;

    &.creator-names {
      max-width: 300px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &.media-title {
      width: 300px;
    }
  }

  img.media-work-cover-image {
    max-height: 300px;
  }

  h3 {
    margin-bottom: 0;
  }

  table {
    margin-top: 10px;
  }

  .badges {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .media-data {
    max-width: 800px;
    margin: 0 auto;
    .media-work-info {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      @media(max-width: 600px) {
        flex-direction: column-reverse;
        align-items: center;
      }
    }
  }

  .media-form {
    max-width: 800px;
  }

}

.consumption-log {
  border: 1px solid var(--border-color);
  padding: 1rem;
  font-family: 'Gentium Book Basic', Georgia, serif;
  font-size: 1.7rem;
  max-width: 70rem;
  margin: 1.5rem auto 0 auto;

  img {
    max-width: 100%;
    display: block;
  }
}

.spoiler-warning {
  color: white;
  background: darkred;
  padding: 1rem;
}


.day-enumeration {
  margin: 0 2px;
}

.month-review-table {
  width: 100%;

  tr {
    width: 100%;
  }

  th:nth-child(1) {
    width: 30%;
  }

  th:nth-child(2) {
    width: 10%;
  }

  th:nth-child(3) {
    width: 40%;
  }

  .days {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .day-enumeration {
      border: 1px solid lightgrey;
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
  }
}

  .form-no-margin {
    margin: 0;
  }

.badge-check:checked + .media-badge {
  color: var(--badge-selected-color);
}

.media-review-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.margin-top-l {
  margin-top: 6rem;
}

.media-work-thumbnail {
  text-align: center;
  width: 250px;
  min-height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;

  .medium svg {
    height: 200px;
    width: 200px;
    fill: var(--link-color);

    &:hover {
      fill: var(--hover-color);
    }

    transition: fill 0.5s ease;

  }

  img {
    max-height: 225px;
    max-width: 225px;
  }
}


.year_wrap {
  h1, h2 {
    text-align: center;
  }


  .year-list {
    span {
      margin: 1rem;
    }
    text-align: center;
  }

  .stat-breakdown {
    display: flex;
    justify-content: space-evenly;
    div {
      width: 300px;
      text-align: center;
    }
    li {
      list-style: none;
    }
  }

  .hero-title {
    font-size: 80px;
  }

  .set-title {
    margin: 5rem 0 3rem;
  }

}

.media-examples {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.year_in_review {
  p {
    max-width: 800px;
  }
}
