// Place all the styles related to the media_works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.media_works {

  label {
    margin-right: 1rem;
  }

  .creator-select {
    width: 800px;
  }

  th {
    min-width: 80px;
  }
  td {
    padding-right: 1rem;
  }

  img.media-work-cover-image {
    max-height: 300px;
  }

  h3 {
    margin-bottom: 0;
  }

  table {
    margin-top: 10px;
  }

}

.consumption-log {
  border: 1px solid darkblue;
  padding: 1rem;
  font-family: 'Gentium Book Basic', Georgia, serif;
  font-size: 1.7rem;
  max-width: 70rem;
  margin: 1.5rem auto 0 auto;
  img {
    max-width: 100%;
    display: block;
  }
}

.spoiler-warning {
  color: white;
  background: darkred;
  padding: 1rem;
}
