// Place all the styles related to the media_works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.media_works {

  .badge-display {
    text-align: center;
    display: none;

    &.selected {
      display: inline;
      color: darkslateblue
    }
  }

  .media-badge {
    color: lightgray;

    &.selected {
      color: darkslateblue;
    }
  }

  svg {
    width: 2rem;
    height: 2rem;
  }


  label {
    margin-right: 1rem;
  }

  .tag-select {
    width: 800px;
  }

  td {
    &:not(:first-child) {
      min-width: 80px;
    }

    &.text-center {
      padding: 0;
    }

    padding-right: 1rem;

    &.creator-names {
      max-width: 300px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &.media-title {
      width: 300px;
    }
  }

  img.media-work-cover-image {
    max-height: 300px;
  }

  h3 {
    margin-bottom: 0;
  }

  table {
    margin-top: 10px;
  }

  .badges {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .media-data {
    max-width: 800px;
    margin: 0 auto;
  }

}

.consumption-log {
  border: 1px solid darkblue;
  padding: 1rem;
  font-family: 'Gentium Book Basic', Georgia, serif;
  font-size: 1.7rem;
  max-width: 70rem;
  margin: 1.5rem auto 0 auto;

  img {
    max-width: 100%;
    display: block;
  }
}

.spoiler-warning {
  color: white;
  background: darkred;
  padding: 1rem;
}


.day-enumeration {
  margin: 0 2px;
}

.month-review-table {
  width: 100%;

  tr {
    width: 100%;
  }

  th:nth-child(1) {
    width: 30%;
  }

  th:nth-child(2) {
    width: 10%;
  }

  th:nth-child(3) {
    width: 40%;
  }
}

.form-control {
  &.form-no-margin {
    margin: 0;
  }
}

.badge-check:checked + .media-badge {
  color: darkslateblue;
}


.year_wrap {
  h2 {
    text-align: center;
  }

  .media-review-set {
    display: flex;
    flex-wrap: wrap;
    .media-work-thumbnail {
      text-align: center;
      width: 300px;
      height: 300px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      .medium svg {
        height: 200px;
        width: 200px;
        fill: slateblue;
        &:hover {
          fill: deepskyblue;
        }
        transition: fill 0.5s ease;

      }
      img {
        max-height: 225px;
        max-width: 225px;
      }
    }
  }




}
