// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

#home {
  display: flex;
  flex-direction: column;
  font-family: 'Gentium Book Basic', Georgia, serif;
}
.previews-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .project-preview {
    margin: 0 1rem;
    max-width: 300px;
    img {
      width: 256px;
      height: 256px;
      object-fit: cover;
      object-position: center;
    }
    text-align: center;
    h3 {
      text-align: center;
    }
  }
}

ul.nav-tabs {
  text-align: center;
  li {
    display: inline-block;
    text-align: center;
  }
}

.header {
  .profile-image {
    width: 200px;
    border-radius: 50%;
  }
  text-align: center;
  margin-top: 30px;
}

#home {
  .day-preview {
    max-width: 50%;
    .day-photo {
      width: 100%;
    }
  }
  a {
    &:hover {
      color: var(--hover-color);
    }
  }
}

#contact {
  .contact-icon svg {
    width: 60px;
    height: 60px;
  }

  ul {
    margin: 30px auto;
    list-style: none;
    text-align: center;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 30px;
    }
  }

  a {
    text-decoration: none;
  }

  a > span {
    opacity: 0;
    transition: opacity 0.2s ease;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  a:hover span {
    opacity: 1;
    text-decoration: none;
  };
}

pre {
  background-color: var(--background-color);
  color: var(--text-color);
}

.contact-icon svg {
  fill: var(--text-color);
}
