.tag-letter-box {
  max-width: 85%;
}

.tag-preview {
  display: inline-block;
  width: 120px;
  margin: 1rem;
  text-align: center;
  img {
    border-radius: 2px;
  }
}

h1 {
  font-family: 'Gentium Book Basic', Georgia, serif;
}

h3.letter-shortcuts {
  text-align: center;
  font-family: 'Gentium Book Basic', Georgia, serif;
}

.tags-index {
  margin: 0 20%;
}

.subtag {
  margin-left: 1rem;
}
