/ If the server is rendering HTML to replace or append to the document instead
/ of loading a new page, we want to skip the head/meta/all the javascript junk
/ and just render the actual elements.
= yield
